.featured{
    margin: 100px 200px 20px 200px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    .top{
        display: flex;

        h1{
            flex:2;
            font-size: 18px;
            font-weight: bold;
        }
        span{
            flex:3;
        }

    }
    .bottom{
        display: flex;
        justify-content: space-between;
        align-items: center;


        img{
        }
    }
}